<h2> <% if current_donor %>
       Hello, <%= current_donor.name %>!
    <% elsif current_requester %>
        Hello, <%= current_requester.name %>!
        <% else %>
        We don't have your name. </h2>
    <% end %>