<p><%= form_for(current_requester, url: '/requesters') do |f|%>
    <%= f.label :requester %><br />
    <%= f.select :requester, Requester.find_by(:name).collect {|r|
      [r.name, r.id]} %>
      <% end %>

  </p>
